body {
    background-color: #001433;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.title, .instructions, .score {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

.board {    
    background-color: #0066ff;
    border-radius: 10px;
    display: block;
    height: 300px;
    margin: auto;
    width: 310px;    
}

.board__button--updown {
    display: block;
    height: 50px;
    margin: auto;
    text-align: center;
    width: 200px;
}

.board__button--left, .board__button--right {        
    display: inline-flex;
    height: 200px;
    text-align: center;
    vertical-align:top;
    width: 50px;    
}

.board__button--right {
    float: right;
}

.fa-angle-left, .fa-angle-right {
    line-height:200px !important;
    margin: 0 auto;
    font-size: 30px;
}

.fa-angle-up, .fa-angle-down {
    line-height: 50px !important;
    text-align: center;
    font-size: 30px;
}

.board__tiles {
    display: inline-flex;
    flex-wrap: wrap;
    width: 200px;
    border: 1px white solid;
}

.board__row {
    height: 50px;
}

.board__tiles--singletile {    
    border: 1px white solid;
    height: 48px;    
    line-height: 50px;
    text-align: center;
    width: 48px;
}

